<% layout('layout/template.ejs') %>
<script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="SB-Mid-client-SK-7lvlHEvE3a3bK"></script>

    <div class="container-fluid d-flex justify-content-center">
        <div class="card" style="width: 25rem;">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <img src="<%= tryouts.image %>" class="img-fluid rounded-start" alt="image">
                      <h4 class="card-title"><%= tryouts.title %></h4>
                      <p class="card-text"><%= tryouts.description %></p>
                      <p><b>Harga: Rp<%= tryouts.price.toLocaleString() %></b></p>
                      <button id="pay-button" type="submit" class="btn btn-success mb-3">Submit</button>
                </li>

          </div>
    </div>    

    <script type="text/javascript">
        var payButton = document.getElementById('pay-button');
        payButton.addEventListener('click', function () {
        const payToken = <%- JSON.stringify(tokenId) %>
        snap.pay(payToken);
        });
    </script>