<% layout('layout/template.ejs') %>
  <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4 d-flex align-items-center">
          <img src="<%= tryout.image %>" class="img-fluid rounded-start" alt="image">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= tryout.title %></h5>
            <p class="card-text"><%= tryout.description %></p>
            <% if(user) { %> 
              <a href="/tryout/<%= tryout._id %>" class="btn btn-primary">Lihat</a>
            <% } else { %> 
            <a href="/tryout/<%= tryout._id %>" class="btn btn-primary">Login Untuk Masuk</a>
            <% } %> 
          </div>
        </div>
      </div>
    </div>
<div>
  <a href="/tryout" class="btn btn-success">Lihat Semua Tryout</a>
</div>
<!-- https://www.freepik.com/free-vector/students-wearing-different-face-masks_9182263.htm#query=student&position=5&from_view=search -->