<% layout('layout/template.ejs') %>
<script type="text/javascript">
    function disableButton(btn) {
        document.getElementById(btn.id).href = "#";
    }
</script>

<h1><%= tryouts.title %> Tryout</h1>
<p class="mb-3" ><%= tryouts.description %> </p>
<p class="mb-3">
    <b id="timer" ></b>
</p>

<!-- button: -->
<p class="d-inline">
    <% if(!user.admin) { %>
        <% if(!user.tryout.includes(tryouts._id)){ %> 
            <a class="btn btn-warning mb-3" href="/tryout/<%= tryouts._id %>/payment">
                Beli Tryout
            </a>
        <% } else { %>

            <% let isDone = '' ; let resultId = ''%>
            <% for (const result of user.result) {%>
                <% if(result.tryout.equals(tryouts._id)) {%>
                    <% isDone = result.tryout ; resultId = result._id %> 
                <% } %>  
            <% } %> 
            <% if (!isDone || !isDone.equals(tryouts._id)) { %>
                <a class="btn btn-primary mb-3" data-bs-toggle="collapse" href="#problem-set" role="button" id="start" aria-expanded="false" aria-controls="collapseExample" onclick="startTryout(this)" >
                    Mulai
                </a>
            <% } else { %>
                <a class="btn btn-primary mb-3" href="/user/<%= user._id %>/tryout/<%= tryouts._id %>/result/<%=resultId%>">
                    Lihat Hasil
                </a>
            <% } %> 

        <% } %> 

    <% } %>
    <% if(user.admin) { %> 
        <div class="row mb-3 justify-content-start">
            <div class="row row-cols-auto row-cols-sm-auto row-cols-md-auto">
                <div class="col-md-auto mb-2 pe-0">
                    <a href="/tryout/<%= tryouts._id %>/update" class="btn btn-success" role="button">Edit</a>
                </div>
                <div class="col-md-auto mb-2 pe-0">
                    <form action="/tryout/<%= tryouts._id %>?_method=DELETE" method="POST" class="d-inline">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="col-md-auto mb-2 pe-0">
                    <a class="btn btn-warning " data-bs-toggle="collapse" href="#add-question" role="button" id="start" aria-expanded="false" aria-controls="collapseExample">Add Question</a>
                </div>
                <div class="col-md-auto mb-2 pe-0">
                    <a class="btn btn-warning " data-bs-toggle="collapse" href="#add-question-2" role="button" id="start" aria-expanded="false" aria-controls="collapseExample">Import File</a>
                </div>
                <div class="col mb-2 pe-0">
                    <a class="btn btn-primary" data-bs-toggle="collapse" href="#problem-set-admin" role="button" id="start" aria-expanded="false" aria-controls="collapseExample">Problem Set</a>
                </div>
            </div>
        </div>
    <% } %>
 
</p>
<!-- admin: untuk menambah question -->
<div class="collapse mb-3" id="add-question">
    <div class="card card-body">
        <div class="form-check mb-3 ps-1 pe-1">
            <form action="/tryout/<%=tryouts._id%>/question" method="POST">
                <label for="section" class="form-label">Section</label>
                <textarea class="form-control mb-3" id="section" name="section[section]" rows="4"></textarea>
                <label for="sectionCode" class="form-label">Code</label>
                <input class="form-control mb-3" type="text" id="sectionCode" name="section[code]">
                <button class="btn btn-success">Submit</button>
            </form>
            <hr>
            <form action="/tryout/<%=tryouts._id%>/question" method="POST">
                <label for="questionCode" class="form-label">Section Code</label>
                <input class="form-control mb-3" type="text" id="questionCode" name="question[code]">
                <div class="col-1">
                    <label for="questionNum" class="form-label">Number</label>
                    <input class="form-control mb-3" type="number" id="questionNum" name="question[number]">
                </div>
                <label for="question" class="form-label">Question</label>
                <textarea class="form-control mb-3" id="question" name="question[question]" rows="3"></textarea>
                <label for="questionUrl" class="form-label">QuestionUrl</label>
                <input class="form-control mb-3" type="text" id="questionUrl" name="question[questionUrl]">
                <div class="d-flex align-self-start bd-highlight">
                    <div class="d-flex flex-column bd-highlight mb-3">
                        <% const key = ['a','b','c','d','e'] %> 
                        <% for( let i = 0 ; i < 5 ; i++) { %> 
                            <input type="radio" class="btn-check" id="btn-check-outlined-<%=i%>" name="question[key]" value="<%= key[i] %>" autocomplete="off">
                            <label class="btn btn-outline-primary mb-3" for="btn-check-outlined-<%=i%>">jawaban</label>
                        <% } %> 
                    </div>
                    <div class="d-flex flex-column bd-highlight flex-grow-1 mb-3 ms-2">
                        <% for( let i = 0 ; i < 5 ; i++) { %>
                        <input class="form-control mb-3" placeholder="jawaban dalam bentuk text" type="text" name="question[choice]" id="btn-check-outlined-<%= i%>" value="">
                        <% } %> 
                    </div>
                    <div class="d-flex flex-column bd-highlight mb-3">
                        <% for( let i = 0 ; i < 5 ; i++) { %>
                            <input class="form-control mb-3" placeholder="url gambar" type="text" name="question[choiceUrl]" id="btn-check-outlined-<%= i%>" value="">
                            <% } %> 
                    </div>
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>
<!-- admin: untuk upload excel question -->
<div class="collapse mb-3" id="add-question-2">
    <div class="card card-body">
        <div class="form-check mb-3 ps-1 pe-1">
            <form action="/tryout/<%=tryouts._id%>/question" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="formFile" class="form-label">Upload Excel Here:</label>
                    <input class="form-control" type="file" id="formFile" name="excel">
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div>

<!-- admin: untuk read, edit, delete question -->
<div class="collapse mt-3" id="problem-set-admin">
    <div class="card card-body mb-3">
        <% for (section of tryouts.section) { %>
            <p><%= section.section %> </p>
            <div class="row mb-3 justify-content-start">
                <div class="row row-cols-auto row-cols-sm-auto row-cols-md-auto">
                    <div class="col-md-auto mb-2 pe-0">
                        <a href="/tryout/<%= tryouts._id %>/section/<%= section._id %>/update" class="btn btn-success" role="button">Edit</a>
                    </div>
                    <div class="col-md-auto mb-2 pe-0">
                        <form action="/tryout/<%= tryouts._id %>/section/<%= section._id %>?_method=DELETE" method="POST" class="d-inline">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            <% for ( question of section.question) { %>
                <% if (question.question) {%>
                    <p><%= question.number %>. <%= question.question %> </p>
                <% } else { %>
                    <div class="row">
                        <div class="col">
                            <img class="rounded float-start" src="<%=question.questionUrl%>" alt="">
                        </div>
                    </div>
                <% } %>  
                <div class="form-check mb-3">
                    <% for( let i = 0 ; i < 5 ; i++) { %>
                        <div>
                            <% if (question.choice[0]) { %>
                                <input class="form-check-input" type="radio" name="answer" id="radio-result-<%=i%>" value="option[<%= i %>]">
                                <label class="form-check-label" for="radio-result-<%=i%>">
                                  <%= question.choice[i] %> 
                                </label>
                            <% } else { %>
                                <input class="form-check-input" type="radio" name="answer" id="radio-result-<%=i%>" value="option[<%= i %>]">
                                <label class="form-check-label" for="radio-result-<%=i%>">
                                    <img class="rounded float-start" src="<%=question.choiceUrl[i]%>" alt="">
                                </label>
                            <% } %> 
                        </div>
                    <% } %> 
                </div>
                <p><b>Key: <%= question.key.toUpperCase() %></b></p> 
                <div class="row mb-3 justify-content-start">
                    <div class="row row-cols-auto row-cols-sm-auto row-cols-md-auto">
                        <div class="col-md-auto mb-2 pe-0">
                            <a href="/tryout/<%= tryouts._id %>/question/<%= question._id %>/update" class="btn btn-success" role="button">Edit</a>
                        </div>
                        <div class="col-md-auto mb-2 pe-0">
                            <form action="/tryout/<%= tryouts._id %>/question/<%= question._id %>?_method=DELETE" method="POST" class="d-inline">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
                <hr class="mt-0">
            <% } %> 
            
        <% } %> 
 
    </div>
</div>
<!-- user: untuk mengisi ujian -->
<div class="collapse mt-3" id="problem-set">
    <div class="card card-body mb-3">
        <form action="/user/<%=user._id%>/tryout/<%= tryouts._id %>/result" method="POST" id="tryout">
            <% for (section of tryouts.section) {%>
                <p><%= section.section %> </p>

                <% for ( question of section.question) { %>
                    <% if (question.question) {%>
                        <p><%= question.number %>. <%= question.question %> </p>
                    <% } else { %>
                        <div class="row">
                            <div class="col">
                                <img class="rounded float-start" src="<%=question.questionUrl%>" alt="">
                            </div>
                        </div>
                    <% } %>  
                    <div class="form-check mb-3">
                        <% const key = ['a','b','c','d','e'] %> 
                        <% for( let i = 0 ; i < 5 ; i++) { %>
                            <!-- perhatikan id dan for dalam membuat radio iput, karena jika label ter tekan akan mencari id yang sama dengan fornya, kalau semuanya sama, maka akan dipilih yang pling atas -->
                            <div>
                                <% if (question.choice[0]) { %>
                                    <input class="form-check-input" type="radio" name="answer[<%= question._id %>]" id="answer-<%= question._id %>-<%i%>" value="<%= key[i] %>">
                                    <label class="form-check-label" for="answer-<%= question._id %>-<%i%>">
                                      <%= question.choice[i] %> 
                                    </label>
                                <% } else { %> 
                                    <input class="form-check-input" type="radio" name="answer[<%= question._id %>]" id="answer-<%=question._id%>" value="<%= key[i] %>">
                                    <label class="form-check-label" for="answer-<%=question._id%>">
                                        <img class="rounded float-start" src="<%=question.choiceUrl[i]%>" alt="">
                                    </label>
                                <% } %> 
                            </div>
                        <% } %> 
                    </div>
                    <hr class="mt-0">
                <% } %> 
            <% } %>
            <button class="btn btn-success" onclick="submited()">Selesai</button>
        </form>
    </div>
</div>

<!-- script untuk memulai tryout -->
<script>
    const startTryout = (btn) => {   
        window.location.hash = "started" 
        // Set the date we're counting down to
        // jika waktu dimulai dari pertama kali menekan tombil mulai:
        //     var timerUp = Date.now() + (1000 * 60  ) 
        //     var countDownDate = new Date(timerUp).getTime();
    
        // jika waktu dimulai dari spesiifik time tidak bergantung mulai
            var countDownDate = new Date("Mar 20, 2023 16:55:30 GMT+07:00").getTime() 
        // Update the count down every 1 second
        var x = setInterval(function() {
    
            // Get today's date and time
            var now = new Date().getTime();
            
            // Find the distance between now and the count down date
            var distance = countDownDate - now;
            
            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                
            // Output the result in an element with id="demo"
            document.getElementById("timer").innerHTML ="Selesai dalam: " + hours + "h "
            + minutes + "m " + seconds + "s ";
                
            // If the count down is over, write some text 
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "EXPIRED";
                document.forms["tryout"].submit()
                document.getElementById('tryout').style.display = "none"
            }
        }, 1000);
        // disbalebutton 
        
        document.getElementById(btn.id).href = "#";
        document.getElementById(btn.id).style.display = "none"; // hide button
    }
</script>

<!-- script untuk mencegah user balik mengisi kembali saat tryout sudah disubmit -->
<script>
        if (location.hash !== "#started") {
            if(location.hash === '#finished'){
                location.hash = ''
            }
            if ( location.hash !== '#loaded') {
                window.location.hash = 'loaded';
                window.location.reload();
            }
        }
</script>
<script>
    const submited = () => {
        window.location.hash = 'finished'
    }
</script>
